[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FES"]
	path = FES
	url = https://github.com/mastatlab/fes
[submodule "MRS"]
	path = MRS
	url = https://github.com/mastatlab/mrs
[submodule "PTT"]
	path = PTT
	url = https://github.com/mastatlab/ptt
